:root{

    --color1: #e42b04;
    --color2: #d0d5da;
}


.banner2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: var(--color2);
    box-shadow: inset 0 0 32px ;
    padding: 2rem;
}


.banner2-article {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

}


.banner2-article-btn{
    background-color: var(--color1);
    padding: 1rem;
    border: none;
    border-radius: 2px ;
    color: var(--color2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

}

.banner2-article-h2{

    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 6rem;
    text-shadow: 0 0 5px ;

}
.banner2-article-secForDiv{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.banner2-article-sec-div{
    border: 1px solid #575c68;
    padding: 1rem;
    width: 6rem;
    border-radius: 10px;
    box-shadow: 0 0 12px #575c68;
 
}

.banner2-article-sec-div > h3{
    text-align: center;
    color: #000;
    font-size: 2rem;
 
}


.banner2-article-sec-div > p{
    text-align: center;
    color: #575c68;
    font-weight: bolder;
    font-size: 1rem;
 
}

.banner2-a{
    text-align: center;
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}


.banner2-figure >img{
    width: 55rem;
    filter: drop-shadow(0 0 8px black);

}
